<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <style>
        h1{
            color: rebeccapurple;
            background-color: rosybrown;
           }         
        .nav{
            display: flex;
            color: black;
            justify-content: center;
            align-items: center;
        }   
        .nav li{
            list-style: none;
        }
        .nav a{
            text-decoration: none;
            color: rgb(14, 13, 13);
            padding: 46px;
            font-size: 1.2rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        section{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 80vh;
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <header>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Services</a></li>
        </ul>
    </header>
    <section>
        <h1>We are working on this Page please try it later.</h1>
    </section>

</body>
</html>